# Common
.env
.DS_Store
node_modules/
dist/
build/
*.log

# Rust
/target
Cargo.lock
**/*.rs.bk

# Go
bin/
vendor/

# Node/TS
.next/
out/
.vercel
next-env.d.ts
tsbuildinfo

# Infrastructure
/infrastructure/data
